body {
    color: white;
    background: linear-gradient(-45deg, #c03c94, #1c1a3b, #2e45a7, #070629);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.container {

}

.block {
    margin-top: 60px;
}

span {
    color: aqua !important;
}

span a {
    color: aqua;
    font-style: italic;
}

.top-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.top-nav a{
    color: white;
    text-decoration: none;
    font-size:  large;
    margin-right: 20px;
}

.logo-placeholder {
    display: inline-block;
}

.logo-placeholder img{
    height: 60px;
    border-radius: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.top-block {
    padding: 20px 30px;
    border-radius: 20px;
    background-image: url(img/top-block.jpeg);
    background-size: cover;
    background-position-x: right;
    box-shadow: 0 0 16px 1px #d848e0;
    border: 1px solid #d848e0;
}


.button {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    margin-right: 10px;
    color: white;
    font-size: x-large;
    background: linear-gradient(90deg, rgb(211, 128, 199) 0%, rgba(0,212,255,1) 100%);   
}

.button:hover {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .button {
        width: 100%;
    }

    .top-block .button:nth-child(1) {
        margin-bottom: 10px;
        background: linear-gradient(90deg, rgb(211, 128, 199) 0%, rgba(0,212,255,1) 100%) !important;    
    
    }
}

.top-block .button:nth-child(1) {
    background: linear-gradient(90deg, rgb(102, 115, 255) 0%, rgb(211, 128, 199) 100%);

}

#block-2 h4 {
    margin-top: 40px;
}

.text-button {
    margin-top: 10px;
    font-size: large;
    display: block;
    background: linear-gradient(90deg, rgb(150, 63, 135) 0%, rgb(0, 132, 158) 100%);
}


.info-box {
    box-shadow: 0 0 16px 1px #d848e0;
    border: 1px solid #d848e0;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    padding: 20px;
    margin-bottom: 20px;
}

.info-box img {
    height: 60px;
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}